@import url('https://fonts.googleapis.com/css?family=Corben:700');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

.App{
  display: flex;
  height: 559px;
  padding: 5px;
  background: linear-gradient(to bottom right, #41b9ff, #ef85ff);
}

.left_element{
  flex: 4;
  background: #ffffffc0;
  margin: 10px;
  border-radius: 10px;
}

.center_element{
  flex: 4;
  background: #ffffffc0;
  margin: 10px;
  border-radius: 10px;
}

.right_element{
  flex: 1;
  background: #ffffffc0;
  margin: 10px;
  border-radius: 10px;
}

.create_post{
  height: 37%;
  margin: 10px;
  background: #ffffff;
}

.timeline{
  height: 90%;
  margin: 10px;
  overflow-y: scroll; 
}

.title{
  font-size: 36px;
  font-family: 'Corben', cursive;
  margin-top: -20px;
  margin-bottom: -20px;
  text-align: center;
}

.subtitle{
  font-size: 30px;
  font-family: 'Vollkorn', cursive;
  margin-top: -24px;
  margin-bottom: -30px;
  margin-left: 10px;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
